.fb {
    background: url('/static/img/fb_200.png') no-repeat center top;
    box-shadow: 2px 2px 8px rgba(0,0,0,.7);
    border-radius: 5px;
    width: 198px;
    height: 37px;
    margin: 80px auto;
    overflow: hidden;
}
